<div id="facebookDiv" class="col-sm-12 col-md-4">
  <iframe id='facebookFrame' 
          width="100%" 
          height="650" 
          style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
</div>

<script>
  (function () {
    var divWidth = document.getElementById('facebookDiv').offsetWidth - 14
    console.log(divWidth);
    var frame = document.getElementById('facebookFrame');
    frame.src = "https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FHye-Eun-Hills-Acupuncture-Chinese-herbs-800369256720265%2F&tabs=timeline" + 
      "&width=" + divWidth + 
      "&height=680&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId";

  })();
</script>
