<div class="hidden-xs hidden-sm col-md-4">
  <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FHye-Eun-Hills-Acupuncture-Chinese-herbs-800369256720265%2F&tabs=timeline&width=340&height=680&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="680" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
</div>
<div class="col-sm-12 hidden-md hidden-lg">
  <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FHye-Eun-Hills-Acupuncture-Chinese-herbs-800369256720265%2F&tabs=timeline&width=370&height=680&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="380" height="680" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
</div>
