<hr>
<div id="footer-v2" class="footer-v2">
	<div class="footer">
		<div class="container">
			<div class="row">
				<!-- About -->
				<div class="col-md-4 md-margin-bottom-40">
					<a href="/"><img id="logo-footer" class="footer-logo" src="custom-assets/images/logo.gif" alt=""></a>
					<p class="margin-bottom-20">is a practice based in Lewes &amp; Brighton, East Sussex over the past fourteen years and is now sharing her skills in Harley Street in central London.</p>
				</div>
				<!-- End About -->

				<!-- Link List -->
				<div class="col-md-4 md-margin-bottom-40">
					<div class="headline"><h2 class="heading-sm">Useful Links</h2></div>
					<ul class="list-unstyled link-list">
						<li><a href="/practitioner">Practitioner</a><i class="fa fa-angle-right"></i></li>
						<li><a href="/practices">Practices</a><i class="fa fa-angle-right"></i></li>
						<li><a href="/fees">Fees</a><i class="fa fa-angle-right"></i></li>
					</ul>
				</div>
				<!-- End Link List -->

				<!-- Address -->
				<div class="col-md-4 md-margin-bottom-40">
					<div class="headline"><h2 class="heading-sm">Contact Hye-Eun Hills</h2></div>
					<address class="md-margin-bottom-40">
						<i class="fa fa-phone"></i>&nbsp; 077333 67803<br />
						<i class="fa fa-globe"></i>&nbsp; <a href="/">http://www.hyeeun-acupuncture.co.uk/</a> <br>
					</address>

					<!-- Social Links -->
					<ul class="social-icons">
						<li><a href="https://www.facebook.com/hyeeunhills.acupuncture" target="_blank" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
						<li><a href="https://www.linkedin.com/in/hye-eun-hills-2324351b" target="_blank" data-original-title="Linkedin" class="rounded-x social_linkedin"></a></li>
					</ul>
					<!-- End Social Links -->
				</div>
				<!-- End Address -->
			</div>
		</div>
	</div><!--/footer-->

	<div class="copyright">
		<div class="container">
			<p class="text-center">2017 © All Rights Reserved. <a target="_blank" href="#">weloveweb</a></p>
		</div>
	</div><!--/copyright-->
</div>
