<hr style="border-color: #a10f2b;">
<div id="footer-v2" class="footer-v2">
	<div class="footer">
		<div class="container">
			<div class="row">
				<!-- About -->
				<div class="col-md-4 md-margin-bottom-40">
					<a href="/"><img id="logo-footer" class="footer-logo" src="custom-assets/images/logo.gif" alt=""></a>
					<p class="margin-bottom-20">The practice is based in London Harley Street, Lewes, and Brighton, East Sussex over the past sixteen years.</p>
					<a href="https://www.acupuncture.org.uk"><img src="custom-assets/images/bacc.jpg" alt="The British Acupuncture Council"></a>
					<a href="https://www.rchm.co.uk/"><img src="custom-assets/images/rchm.gif"  align="left"></a>

				</div>
				<!-- End About -->

				<!-- Link List -->
				<div class="col-md-4 md-margin-bottom-40">
					<div class="headline"><h2 class="heading-sm">Useful Links</h2></div>
					<ul class="list-unstyled link-list">
						<li><a href="/practitioner.html">Practitioner</a><i class="fa fa-angle-right"></i></li>
						<li><a href="/practices.html">Practices</a><i class="fa fa-angle-right"></i></li>
						<li><a href="/fees.html">Fees</a><i class="fa fa-angle-right"></i></li>
					</ul>
				</div>
				<!-- End Link List -->

				<!-- Address -->
				<div class="col-md-4 md-margin-bottom-40">
					<div class="headline"><h2 class="heading-sm">Contact Hye-Eun Hills</h2></div>
					<address class="md-margin-bottom-40">
						<i class="fa fa-phone"></i>&nbsp;<a href="tel:07733367803">077333 67803</a><br />
						<i class="fa fa-globe"></i>&nbsp; <a href="/">http://www.hyeeun-acupuncture.co.uk/</a> <br>
					</address>

					<!-- Social Links -->
					<ul class="social-icons">
						<li><a href="https://www.facebook.com/hyeeunhills.acupuncture" target="_blank" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
						<li><a href="https://www.linkedin.com/in/hye-eun-hills-2324351b" target="_blank" data-original-title="Linkedin" class="rounded-x social_linkedin"></a></li>
					</ul>
					<!-- End Social Links -->
				</div>
				<!-- End Address -->
			</div>
		</div>
	</div><!--/footer-->

	<div class="copyright">
		<div class="container">
			<p class="text-center">{{ 'now' | date: "%Y" }} © All Rights Reserved. </p>
		</div>
	</div><!--/copyright-->
</div>
