<div class="header">
  <div class="container">
    <!-- Logo -->
    <a class="logo" href="/">
      <img src="custom-assets/images/logo.gif" alt="Logo">
    </a>
    <!-- End Logo -->

    <!-- Toggle get grouped for better mobile display -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="fa fa-bars"></span>
    </button>
    <!-- End Toggle -->
  </div><!--/end container-->

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
    <div class="container">
      <ul class="nav navbar-nav">

        <li><a href="acupuncture">Acupuncture</a></li>
        <li><a href="chinese-herbs">Chinese herbs</a></li>

        <!-- Treatments -->
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
            Treatments
          </a>
          <ul class="dropdown-menu">
            <li><a href="fertility-ivf">Fertility &amp; IVF</a></li>
            <li><a href="pregnancy">Pregnancy</a></li>
            <li><a href="pain-management">Pain management</a></li>
            <li><a href="other-conditions">Other conditions</a></li>
          </ul>
        </li>
        <!-- End Treatments -->

        <li><a href="practitioner">Practitioner</a></li>

        <!-- Practices & fees -->
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
            Practices &amp; fees
          </a>
          <ul class="dropdown-menu">
            <li><a href="practices">Practices</a></li>
            <li><a href="fees">Fees</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </li>
        <li><a href="privacy-policy">Privacy Policy</a></li>
        <!-- End Practices & fees -->

      </ul>
    </div><!--/end container-->
  </div><!--/navbar-collapse-->
</div>
